/* src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos Base Personalizados (Opcional) */
body {
  @apply font-sans text-brand-gray-dark bg-white antialiased;
  /* antialiased mejora la legibilidad de la fuente */
}

.hero-background {
  background-image: url('/img/hero-background.png');
  background-size: 95% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2d3a4b;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading;
}

/* Ejemplo de un componente personalizado que podrías necesitar */
/*
.btn-primary {
  @apply bg-brand-blue-dark hover:bg-opacity-80 text-white font-bold py-3 px-6 rounded-lg transition-colors duration-300;
}
.btn-accent {
  @apply bg-brand-pink hover:bg-opacity-80 text-white font-bold py-3 px-6 rounded-lg transition-colors duration-300;
}
*/

/* Scrollbar personalizada (opcional, para un toque más moderno) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #c5c5c5; /* Un gris suave */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5; /* Un gris un poco más oscuro al pasar el mouse */
}
body.dark ::-webkit-scrollbar-track {
  background: #2d2d2d;
}
body.dark ::-webkit-scrollbar-thumb {
  background: #555;
}
body.dark ::-webkit-scrollbar-thumb:hover {
  background: #777;
}
